<Router AppAssembly="@typeof(App).Assembly"
AdditionalAssemblies="new[] {typeof(MainLayout).Assembly}">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p class="mx-auto mt-5">
                Lo lamentamos, el recurso solicitado no ha sido encontrado.
            </p>
        </LayoutView>
    </NotFound>
</Router>
