<div class="cart-item">
    <a @onclick="@OnRemoved" class="delete-item">x</a>
    <div class="title">
        <span>@Pizza.Size</span> @Pizza.Special.Name
    </div>
    <ul>
        @foreach (var Topping in Pizza.Toppings)
        {
            <li>+ @Topping.Name</li>
        }
    </ul>
    <div class="item-price">
        @Pizza.GetFormattedTotalPrice()
    </div>
</div>
